@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

.body {
    font-family: 'Lato', sans-serif;
}

h2{
    color: #000000;
    font-family: "Times New Roman";
    font-weight: bolder;
    font-size: 26px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: lighter;
    font-size: 17px;
    padding: 0 20px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: lawngreen;
    text-underline-mode: dash;
    font-weight: bold;
    font-size: 19px;
    padding: 0 20px;
}

a:hover {
    color: #ffffff;
}

.container{
    color: #0b2e13;
}

